# Node.js
node_modules/
.env
dist/
build/
.next/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Test coverage
coverage/

# Contracts / JSON artifacts
src/abi*.json
src/ipfs-cache
